.header {
    height: 84px;
    display: flex;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.8);
}

.header .header-menu {
    display: flex;
    justify-content: center;
}

.nav-custom > li {
    padding: 23px 0;
}

.nav-custom a {
    color: black;
    
}

.nav-custom > li:hover > a {
    color: #ca6f04;
}

/* .nav-custom > li:hover .sub-menu {
    display: block;
} */

.header i {
    font-size: 18px;
}

.header .sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 99%;
    left: -345px;
    width: 880px;
    height: 350px;
}

li.level1 {
    width: calc(100% / 3);
    padding: 20px;
    display: inline-block;
}

li.level1 > ul {
    padding: 10px 0 0 0;
}

li.level1 > a {
    color: #ca6f04;
    font-weight: 600;
}

li.level1:hover > a {
    color: #fb9620;
}

li.level2:hover > a {
    color: #ca6f04;
}

.level0 li {
    list-style-type: none;
}

.level0 a {
    text-decoration: none;
}